# Build output
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
out/

# STS / Eclipse
.apt_generated
.factorypath
.springBeans
.sts4-cache

# Secrets / env
**/.env
**/.env.*
**/application*.yml
**/application*.yaml
